<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>Whats New</li>
            <li>categories</li>
            <li>share a deal</li>
        </ul>
        <a href="">Login</a>
        <a href="">Signup</a>
    </nav>
    <h1>Heres the deal</h1>


    <%- body %>

</body>
</html>