<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="login-links">
        <%if (!isLoggedIn) {%>
            <a href="/login">Login</a><span> or</span>
            <a href="/signup">Signup</a>

            <%} else {%>
                <a href="/posts">My posts</a>
                <p>logged in as <%=currentUser.username%>
                </p>
                <form action="/logout?_method=delete" method="post">
                    <button>Logout</button>
                </form>
                <%}%>
    </div>


    <nav>
        <ul>
            <li><a href="/">Whats New</a></li>
            <li><a href="/share">Share a deal</a></li>
            <li class="select-container">
                <div class="dropdown">
                    <button class="dropbtn">Select a category</button>
                    <div class="dropdown-content">
                        <a href="/product?category=Toys">Toys</a>
                        <a href="/product?category=Kitchenware">Kitchenware</a>
                        <a href="/product?category=Tools">Tools</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <h1 class="page-title">Heres the deal</h1>


    <%- body %>

</body>

</html>