<h1 class="login-header">Sign up</h1>

<form action="/registered" method="post">
    <div class="login-wrap">
        <div>
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="">Password</label>
            <input type="password" name="password">
            <button>login</button>
        </div>
    </div>
</form>