<h1>Sign up</h1>

<form action="/registered" method="post">
    <label for="">Email</label>
    <input type="text" name="email">

    <label for="">Password</label>
    <input type="password" name="password">
    <button>login</button>


</form>