<h1 class="login-header">Sign up</h1>

<form action="/registered" method="post">
    <div class="login-wrap">
        <div>
            <label for="">Enter a valid email</label>
            <input type="text" name="email">
        </div>

        <div>
            <label for="">Enter a valid username</label>
            <input type="text" name="username">
        </div>

        <div>
            <label for="">Enter a valid password</label>
            <input type="password" name="password">
            <button>login</button>
        </div>
    </div>
</form>