* {
    /* border: 1px solid red; */
    margin: 0;
    box-sizing: border-box;
}

/* LAYOUTS -------- */


nav {
    display: flex;
    justify-content: center;
    background-color: mistyrose;
    padding: 10px 0; /* Added padding for a better look */
}

ul {
    padding: 0;
    display: flex;
    list-style: none;
}

li {
    margin: 0 20px; /* Space between items */
}

a {
    color: black; /* Link color */
    text-decoration: none; /* Remove underline */
    padding: 10px 16px; /* Padding for links */
    display: inline-block; /* Allow padding to take effect */
}



.dropbtn {
    background-color: mistyrose; 
    color: black; 
    padding: 10px 16px; 
    border: none;
    cursor: pointer;
    text-align: left; /* Align text to the left */
}

.dropdown {
    position: relative; /* Positioning for the dropdown */
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: white; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    margin-top: 5px; /* Space between button and dropdown */
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown-content a {
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
}

.dropdown-content a:hover {
    background-color: #f1f1f1; 
}

.page-title {
   text-align: center;
   padding: 20px;
   background: linear-gradient(to bottom, mistyrose, white);
   margin: 0px 0px 10px 0px;
}

.login-links {
    display: flex;
    justify-content: end;
    background-color: mistyrose;
    align-items: center;
}

.login-links > a {
    color: purple;
}

.long-links > .user-post {
    display: block;
}

/* HOME/POST VIEW ---------------- */


@media (min-width: 1000px) {
    .wrapper {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1300px) {
    .wrapper {
        width: 55%;
        margin: 0 auto;
    }
}

.desc-wrapper > p {
    padding: 20px;
}

.desc-wrapper > a {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px; 
    color: purple;
}

.wrapper {
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
}

.prod-card {
    border: 1px solid black;
}

img {
    width: 290px;
    height: 290px;
}

.wrapper>div {
    width: 100%;
}

.top-line {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.top-line>h2 {
    font-size: 3em;
}

.top-line>h4 {
    display: flex;
    align-items: center;
    font-size: 2em;
}



/* -------------------------- */


/* login view ---------------------*/

.login-header {
    text-align: center;
    padding: 30px;
}

.login-wrap {
    display: flex;
    justify-content: center;
}

/* --------------------------------------- */


/* edit form view -------------------------- */
.edit-header {
    text-align: center;
}

.edit-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}