

.product-display {
    /* width: 50%; */
}

body {
    background-color: mistyrose;
}



nav {
    display: flex;
    justify-content: center;
}

ul {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 70%; */

}

.wrapper > section {
    /* width: 70%; */
}